body {
  padding-top: 60px;
}

button {
  background-color: #fff;
  border-color: #fff;
  border-style: none;
  margin: 0px 20px 0px 20px;
}

.active-btn {
  color: #007bff;
  border-bottom: solid #007bff;
}

svg {
  color: #007bff;
}

.p-duty {
  display: inline;
  margin: 0 0 0 10px;
}
